
.contact-headings{
    border-bottom: 1px solid #c0c0c2 !important;
    margin-bottom: 25px;
}
.contact-headings h3{
  padding-bottom: 10px 0 15px;
  font-size: 25px;
  color: #737373 !important;
  text-shadow: inset 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
.contact-input-field{
  background-color: #b4b4b4 !important;
  border-color: #b4b4b4 !important;
}