html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: black;
  background-image: url('../img/bg2.jpg'), url('../img/bg2.jpg'), url('../img/bg2.jpg');
  background-position: 100%;
  background-repeat: no repeat;
canvas {
  display: block;
}
